$schema: ../cache/schemas/tasks.json

inheritedBy:
  toolchain: node
  layer: library

tasks:
  build:
    command: packemon
    args:
      - build
      - --addEngines
      - --addExports
      - --declaration
    inputs:
      - '@globs(sources)'
      - '@globs(typescript)'
      - package.json
    outputs:
      - lib
    env:
      NODE_ENV: production
