$schema: ../cache/schemas/tasks.json

inheritedBy:
  toolchain: node

implicitDeps:
  - ^:build

implicitInputs:
  - package.json

fileGroups:
  configs:
    - '*.{js,cjs,mjs,json}'
  sources:
    - src/**/*
    - types/**/*
  tests:
    - tests/**/*.test.*
    - '**/__tests__/**/*'
  assets:
    - assets/**/*
    - images/**/*
    - static/**/*
    - '**/*.{scss,css}'
    - '**/*.mdx'
  typescript:
    - tsconfig.json
    - tsconfig.*.json
    - /tsconfig.json
    - /tsconfig.*.json

tasks:
  format:
    command: prettier
    args:
      - --config
      - '@in(1)'
      - --ignore-path
      - '@in(0)'
      - --check
      - .
    inputs:
      - /.prettierignore
      - /.prettierrc.js
      - '@globs(configs)'
      - '@globs(sources)'
      - '@globs(tests)'
      - '**/*.{md,mdx,yml,yaml,json}'
  format-write:
    command: prettier
    args:
      - --config
      - '@in(1)'
      - --ignore-path
      - '@in(0)'
      - --write
      - .
    inputs:
      - /.prettierignore
      - /.prettierrc.js
    preset: server
  lint:
    command: eslint
    args:
      - --fix
      - --report-unused-disable-directives
      - --no-error-on-unmatched-pattern
      - --exit-on-fatal-error
      - .
    inputs:
      - '@globs(configs)'
      - '@globs(sources)'
      - '@globs(tests)'
      - '@globs(typescript)'
      - /eslint.config.*
  test:
    command: jest --coverage --passWithNoTests
    inputs:
      - '@globs(sources)'
      - '@globs(tests)'
      - .babelrc.*
      - babel.config.*
      - jest.config.*
      - /babel.config.*
  typecheck:
    command: tsc --build --pretty
    inputs:
      - '@globs(sources)'
      - '@globs(tests)'
      - '@globs(typescript)'
